<h1>機能一覧</h1>

<ul>
  <li>
    <%= link_to 'ストリーミングサービス連携(beta)', streaming_services_path %>
  </li>
  <li>
    <%= link_to 'WEBゲームパッド', feature_gamepad_devices_path %>
  </li>
</ul>

<h3>スプラトゥーン2連携</h3>
<ul>
  <li>
    <%= link_to 'イラスト投稿でのドットの自動打ち', feature_splatoon2_sketches_path %>
  </li>
</ul>
