<div class="modal fade" tabindex="-1" id="deviceNameModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag update_name_device_path(device.unique_key), method: :put, remote: false do %>
        <div class="modal-header">
          <h5 class="modal-title">デバイス名の変更</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
          <%= text_field_tag :device_name, default_device_name, class: "form-control" %>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= submit_tag "保存する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
