<div class="modal fade" tabindex="-1" id="pbmUpgradeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag pbm_upgrade_device_path(device.unique_key), method: :post, remote: false do %>
        <div class="modal-header">
          <h5 class="modal-title">PBMのバージョンアップ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          アップグレード可能なバージョンはありません。(未実装)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= submit_tag "このバージョンでバージョンアップする", class: "btn btn-primary", data: { id: :submit }, disabled: true  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
