<div class="modal fade" tabindex="-1" id="restoreSettingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag restore_setting_device_path(device.unique_key), method: :post, remote: false do %>
        <div class="modal-header">
          <h5 class="modal-title">設定ファイルを復元する</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% saved_buttons_settings.each do |saved_buttons_setting| %>
            <div class="form-check">
              <label class="form-check-label">
                <%= radio_button_tag :saved_buttons_setting_id, saved_buttons_setting.id, false, required: 'required', class: "form-check-input" %>
                <%= saved_buttons_setting.name %>
              </label>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= submit_tag "この設定ファイルでデバイスに復元する", class: "btn btn-primary", data: { id: :submit }, disabled: true  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
