<div class="modal fade" tabindex="-1" id="restartModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag update_name_device_path(device.unique_key), method: :put, remote: false do %>
        <div class="modal-header">
          <h5 class="modal-title">デバイスの再起動</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p data-id="message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= submit_tag "再起動する", class: "btn btn-primary", data: { id: :submit }, disabled: true  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function beInProgressStatus(deviceId) {
    $("[data-id='message']").attr("data-unique-key", "inProgress-" + deviceId)
    $(`[data-unique-key='inProgress-${deviceId}']`).html("デバイスとの通信確認中です。");
    $("[data-id=submit]").prop("disabled", true)
  }
  function beActiveStatus(deviceId) {
    $(`[data-unique-key='inProgress-${deviceId}']`).html("デバイスとの通信に成功しました。再起動が可能です。");
    $("[data-id=submit]").prop("disabled", false);
  }
  function beInactiveStatus() {
    // TODO
  }

  $(function(){
    var deviceId = $("[data-device-id]").data("device-id")
    document.getElementById('restartModal').addEventListener('hidden.bs.modal', function(event) {
      beInProgressStatus(deviceId);
      });
    document.getElementById('restartModal').addEventListener('show.bs.modal', function(event) {
      beInProgressStatus(deviceId);
    })
  })
</script>
