<% if @device.has_available_new_pbm_version? %>
  <div class="modal-content hidden"  data-device-action-modal-target="content">
    <%= form_tag pbm_upgrade_device_path(device.unique_key), method: :post, remote: true do %>
      <%= hidden_field_tag :pbm_version, ProconBypassManVersion.latest_name %>
      <div class="modal-header">
        <h5 class="modal-title">PBMのバージョンアップ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= ProconBypassManVersion.latest_name %> へのアップグレードができます。<br><br>
        アップグレードを実行すると新しいバージョンを適用後、デバイスが再起動します。<br><br>
        ※設定ファイルは初期状態に戻るので適宜復元してください。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= submit_tag "バージョンアップする", class: "btn btn-primary", data: { id: :submit }, disabled: true  %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="modal-content hidden" data-device-action-modal-target="content">
    <div class="modal-header">
      <h5 class="modal-title">PBMのバージョンアップ</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      最新です。アップグレード可能なバージョンはありません。
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
<% end %>
