<% if f.object.errors.present? %>
  <div class="alert alert-danger">
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
