<h1>Device</h1>
<%= render "admin/shared/devices_table", devices: [@device], device_statuses: @device_statuses %>

<h2>Session</h2>
<%= render "admin/shared/pbm_session_table", pbm_sessions: [@pbm_session] %>

<h2>Events</h2>
<%= render "admin/shared/events_table", events: @events, show_session_column: false %>
