<h1 class="mb-5">FAQ</h1>

<h2>手元のRaspberry PiをPBM-Cloudに登録するにはどうすればいいですか？</h2>
app.rb にある <code>config.api_servers = ['https://pbm-cloud.jiikko.com'] </code> の行を追加して起動してください。<br>
その後、<code>device_id</code>というファイル名の中身を <%= link_to 'https://pbm-cloud.jiikko.com/devices/new', 'https://pbm-cloud.jiikko.com/devices/new' %> に入力してください。<br>
<br>
※ <code>device_id</code> のファイルパスは、pbmenvを使っているなら <code>/usr/share/pbm/current/device_id</code> にあります。もしくは、pbmの実行ディレクトにあります。

<hr>

<style>
  <%= Rouge::Themes::Github.render(:scope => '.highlight') %>
</style>

<pre class="highlight" style="background-color: #F0F0F0;padding-left: 10px;">


<% code = <<~EOH
  #!/usr/bin/env ruby

  require 'bundler/inline'

  gemfile do
    source 'https://rubygems.org'
    git_source(:github) {|repo_name| "https://github.com/\#{repo_name}" }
    gem 'procon_bypass_man', '0.XX.XX'
  end

  ProconBypassMan.configure do |config|
    config.root = File.expand_path(__dir__)
    config.logger = Logger.new("\#{ProconBypassMan.root}/app.log", 5, 1024 * 1024 * 10)
    config.logger.level = :debug
    config.api_servers = ['https://pbm-cloud.jiikko.com'] # ここを追加する
    config.enable_critical_error_logging = true
  end

  ProconBypassMan.run(setting_path: "/usr/share/pbm/current/setting.yml")
EOH
%>
<%= Rouge.highlight(code, 'ruby', 'html').html_safe %>

</pre>

※上記のapp.rbは、実際のapp.rbと異なる場合があります。
