<h1>Device</h1>
<%= link_to "saved_buttons_settings", admin_device_saved_buttons_settings_path(@device) %>
<%= render "admin/shared/devices_table", devices: [@device] %>

<h2>Sessions</h2>
<%= render "admin/shared/pbm_session_table", pbm_sessions: @device.pbm_sessions.limit(100).order(id: :desc) %>
