<h2><%= @saved_buttons_setting.name %>の設定ファイル</h2>
<% if @saved_buttons_setting.explained_lines.present? %>
  <ul>
    <% @saved_buttons_setting.explained_lines.each do |line| %>
      <li><%= line %></li>
    <% end %>
  </ul>
<% end %>

<pre style="background-color: #F0F0F0;padding: 30px">
<%= @saved_buttons_setting.content["setting"] %>
</pre>
