<h1>WEBからprocon_bypass_manを使うためのWEBサービスです</h1>
<%= link_to "procon_bypass_man", "https://github.com/splaplapla/procon_bypass_man" %> とは？

<hr>

本WEBサービスは、以下のことができます。
<ul>
  <li>
    接続状況の可視化
  </li>
  <li>
    Raspberry Piの再起動
  </li>
  <li>
    PBMのバージョンアップ
  </li>
  <li>
    設定ファイルのバックアップ
  </li>
  <li>
    設定ファイルの適用
  </li>
</ul>
<div>

<%= link_to "デモページ", demo_path, class: "btn btn-primary btn-lg" %>

<hr>

<a href="<%= Rails.application.config.x.discord_invitation_link %>">Discord</a>
<br>
<a href="https://github.com/splaplapla/procon_bypass_man_cloud">本WEBサービスのソースコード</a>
